.logo{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #001529;
    margin-left: -50px;
    span{
        display: block;
        width: 177px;
        height: 47px;
        background-color: #1d2a3f;
    }
}
.all-header{
    display: flex;
    .right-header{
        margin-left: 30px;
    }
}